<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="NewConnection" connectionString="server=APH10127\SQLEXPRESS;database=PGAllotmentDB;Integrated Security =true" providerName="System.Data.SqlCLient"/>
	</connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>